<!--<!DOCTYPE html>
<html lang="fr">
{%load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'css/accueil.css' %}">
</head>

<body>
    <div class="background-image"></div>
    <div class="content">
        <button class="btn" onclick="window.location.href='{% url 'login' %}'">Connexion</button>
        <button class="btn" onclick="window.location.href='{% url 'register' %}'">Inscription</button>
    </div>
</body>


</html> -->
